@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #000002, #2727e3);

    h1 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #fff;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        margin-top: 2rem;
        width: 80%;
        max-width: 500px;

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: #000;
            text-align: left;
            width: 100%;
        }

        input {
            width: 100%;
            max-width: 400px;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 10px;
            font-size: 1.2rem;
            border: 2px solid grey;
            color: #333;
            background-color: #f4f4f4;
            transition: border-color 0.3s ease;

            &:hover,
            &:focus {
                border-color: #005ea8;
            }
        }

        input[type="submit"] {
            background-color: #005ea8;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 10px;
            border: none;
            padding: 1rem;
            font-size: 1.2rem;

            &:hover {
                background-color: #003b6f;
            }
        }
    }

    p {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #fff;
        text-align: center;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #d4d4d4;
            text-decoration: underline;
        }

    }

    @media screen and (max-width: 480px) {
        form {
            max-width: 250px;
        }
    }
}