.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #000002, #2727e3);

}

.seat-selection {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.5); /* Set the translucent background color */
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .screen {
      font-size: 1.5rem;
      margin: 2rem;
      padding: 1rem;
      border: 2px solid #444;
      border-radius: 0.5rem;
      width: 80%;
      text-align: center;
      background-color: #f1f1f1;
    }
  
    .seats {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
  
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
  
        .seat {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          width: 2rem;
          height: 2rem;
          margin: 0.25rem;
          border-radius: 0.25rem;
          cursor: pointer;
  
          &.platinum {
            background-color: #f4a460;
            color: #fff;
          }
  
          &.gold {
            background-color: #ffd700;
          }
  
          &.silver {
            background-color: #c0c0c0;
          }
  
          &.selected {
            background-color: #8ac4d0;
          }
        }
      }
    }
  
    .selected-seats {
      margin-top: 0rem;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
  
      ul {
        width: 50%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        li {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  
  .checkout_btn {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }
  
  .button-div{
    height: 30%;
    margin-top: 2%;
  }

  .booked{
    background: red !important;
    color:#000002 !important;
  }